 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Сброс всех стандартных отступов и границ */
}
/*a {
    text-decoration: none; Ссылки без подчеркивания по умолчанию
}*/
img {
    max-width: 100%;
    display: block; /* Картинки - чтобы не выходили за пределы */
}
body {
  width: 1100px;
  margin: 0 auto;
  background-color: #fff;
}
