.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}
.header__links-list {
  display: flex;
  align-items: center;
  gap: 33px;
  margin: 0;
  padding: 0;
}
.header__links-list-item {
  font-size: 18px;
  line-height: 18px;
  list-style: circle;
}
.header__link {
  color: #000;
  font-size: 18px;
  line-height: 1;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
}

.header__logo-image {
  display: block;
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
}

.address__link {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
  align-items: stretch;
  width: 239px;

}
.cover {
  position: relative;
  height: 757px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;

}
.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}
.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  margin-top: 20px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 20px;
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover__description-text {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
}
.lots {  /*секции */
  margin-top: 180px;
  padding: 0 24px;

}
.lots__heading { /*h2*/
  margin: 0 0 35px 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 8px 0 0;
  padding: 0;
  list-style: none;/*список карточек*/
}
.lots__card-list-item { /*li*/
  width: 334px;
  min-height: 596px;
}
.card { /*общий стиль */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 49px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card-link {  /*ссылка, обрамляющая карточку*/
  display: block;
  height: 100%;
  text-decoration: none;
}
.card__title {
  margin: 1px 0 0;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}
.card__text {
  margin: 0;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}
.card .overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}
.card__title,
.card__text { /*текст карточки*/
  position: relative;
  z-index: 1;
}
.card_type_film { /*Фильм режиссёра, который бросил киношколу*/
  background-image: url("../images/photo.jpg");

}
.card_type_book { /*Книга, где описан один скучный день из жизни рекламного агента*/
  background-image: url("../images/photo (1).jpg");

}
.card_type_picture { /*Картина, которую повторит даже 5-летний сын маминой подруги*/
  background-image: url("../images/photo (2).jpg");

}
.lots__look-more-link { /*ссылка «Посмотреть больше».*/
  display: inline-block;
  margin: 33px 0 0 41px;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  color: #000000;
  font-size: 20px;
  line-height: 1;
  text-decoration: none;
}
.about {
  display: grid;
  grid-template-columns: 334px 693px;
  column-gap: 25px;
  margin-top: 155px;
  padding: 0 24px;
}

.about__column:first-child {
  display: flex;
  justify-content: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: -5px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 240px;
}

.about__title {
  margin: 100px 0 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 690px;
  margin: 8px 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text p {
  width: 100%;
  margin: 0;
}
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  margin-top: 185px;
  padding: 0 50px 82px;
}

.footer__address {
  justify-self: start;
  max-width: 264px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  margin: 0;
  line-height: 1;
}

.footer__menu-link {
  color: #000;
  font-size: 18px;
  line-height: 1;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  white-space: nowrap;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-list-item {
  margin: 0;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}